<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'UWP_Sample1' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>70c18dd5-7c68-4440-841a-25b1210fc88a</InstrumentationKey>
</ApplicationInsights>